<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      Nueva solicitud de Amistad
      <a class="closeButton" (click)="close()">&times;</a>
    </div>
    <div class="modal-body" style="height: auto">
      <div class="row" *ngIf="user">
        <div class="col-md-3">
          <img [src]="user.avatar || assets/img/generic_avatar.png" class="img-fluid">
        </div>
        <div class="col-md-9" >
          <b>{{user.nick}}</b>
          <p><small>«{{user.email}}»</small></p>
          <p>Te ha enviado esta solicitud</p>
        </div>
        <div class="col-md-12" *ngIf="message">
          <h5>Te ha enviado un mensaje</h5>
          <textarea class="form-control" id="message" readonly value="{{message}}"></textarea>
          <br>
        </div>
        <div class="col-md-12">
          <h5>¿Deseas agregar a ésta persona?</h5>
          <input type="radio" name="addToMsn" [(ngModel)]="shouldAdd" value="yes" id="add-yes">
          <label for="add-yes"> &nbsp; Si, agregar a mis contactos.</label><br/>
          <input type="radio" name="addToMsn" [(ngModel)]="shouldAdd" value="no" id="add-no">
          <label for="add-no"> &nbsp; No deseo agregar a mis contactos.</label><br/>
          <input type="radio" name="addToMsn" [(ngModel)]="shouldAdd" value="later" id="add-later">
          <label for="add-later"> &nbsp; Dejar para después.</label><br/>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" (click)="accept()">OK</a>
        <a class="btn btn-light" (click)="close()">Cerrar</a>
      </div>
    </div>
  </div>
</div>
