<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      Nueva solicitud de Amistad
      <a class="closeButton" (click)="close()">&times;</a>
    </div>
    <div class="modal-body" style="height: auto">
      <div class="row">
        <div class="col-md-auto">
          <img src="assets/img/generic_avatar.png" class="img-fluid">
        </div>
        <div class="col-md">
          <b>{{currentRequest.sender}}</b>
          <small>Te ha enviado esta solicitud</small>
        </div>
        <hr/>
        <h4>¿Deseas agregar a ésta persona?</h4>
        <input type="radio" name="addToMsn" [ngModel]="shouldAdd" value="yes" id="add-yes">
        <label for="add-yes">Si, agregar a mis contactos.</label><br/>
        <input type="radio" name="addToMsn" [ngModel]="shouldAdd" value="no" id="add-no">
        <label for="add-no">No deseo agregar a mis contactos.</label><br/>
        <input type="radio" name="addToMsn" [ngModel]="shouldAdd" value="no" id="add-later">
        <label for="add-later">Dejar para después.</label><br/>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" (click)="accept()">OK</a>
        <a class="btn btn-light" (click)="close()">Cerrar</a>
      </div>
    </div>
  </div>
</div>
